@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1c1e;

    --card: #ffffff;
    --card-foreground: #1c1c1e;

    --popover: #ffffff;
    --popover-foreground: #1c1c1e;

    /*Primary*/
    --primary: #1b5bff;
    --primary-label: #0040e0;
    --primary-foreground: #ffffff;
    --primary-light: #d1deff;
    --primary-body: #1b5bff;
    --primary-background: #ebf0ff;

    /*Secondary*/
    --secondary: #d1e8ff;
    --secondary-foreground: #1c1c2d;

    --muted: #d1e8ff;
    --muted-foreground: #717882;

    --accent: rgba(209, 232, 255, 0.2);
    --accent-foreground: #1c1c2d;

    --destructive: #f75255;
    --destructive-foreground: #d1e8ff;

    --border: #e4eaf0;

    --input: #e4eaf0;

    --ring: #1c1c1e;

    /*Grayscale */

    --grayscale: #333652;
    --grayscale-light: #f2f2f2;
    --grayscale-subtitle: #656b9f;
    --grayscale-paragraph: #333652;
    --grayscale-caption: #a4a7c6;
    --grayscale-border: #babcd4;

    /*Error*/

    --error: #a80027;

    /*Warning*/
    --warning: #ad9c00;
    --warning-light: #fffad1;
    /*Success*/
    --success: #00ad26;

    --radius: 8px;
  }

  /* .dark {
    --background: #1C1C1E;
    --foreground: #D1E8FF;

    --card: #1C1C1E;
    --card-foreground: #D1E8FF;

    --popover: #1C1C1E;
    --popover-foreground: #D1E8FF;

    --primary: #D1E8FF;
    --primary-foreground: #1C1C2D;

    --secondary: #2D344A;
    --secondary-foreground: #D1E8FF;

    --muted: #2D344A;
    --muted-foreground: #76829B;

    --accent: #2D344A;
    --accent-foreground: #D1E8FF;

    --destructive: #5A0D0F;
    --destructive-foreground: #D1E8FF;

    --border: #2D344A;
    --input: #2D344A;
    --ring: #495773;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.user-circle .lk-participant-media-video,
.mirror-video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.react-flow__node {
  transition: 0.03s all;
}

/* Hide scrollbar for all major browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
